---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Social from "../components/Social.astro";
import projects from "../assets/data/projects.json";
---

<Layout
	description="Welcome to Oxana Bashanova Portfolio"
	title="Oxana Bashanova | Home"
>
	<div class="main-container">
		<div class="photo-container">
			<!-- <div class="photo"></div> -->
		</div>
		<div class="text-container">
			<section id="intro">
				<h1>Hello!</h1>
				<div class="intro-p">
					<p>
						My name is Oxana Bashanova, I am a frontend developer passionate
						about crafting clean, elegant, and functional web experiences. <br
						/>
						Explore my projects, read my blog, and get in touch to collaborate on
						something amazing!
					</p>
					<p>
						<a
							href="mailto: obashanova.dev@gmail.com"
							target="_blank"
							rel="noopener noreferrer"
							class="social-link underline"
						>
							Email me.</a
						>
					</p>
				</div>
			</section>

			<section id="about">
				<h1>About me</h1>
				<p>
					Hi, I'm Oxana, a frontend developer with a slightly unconventional
					journey. <br />
					I didn't start in tech — I actually have a PhD in Environmental Studies
					and worked as a researcher. But after realizing that the world of research
					wasn't for me, I stepped away from academia and, leveraging my multilingual
					skills, pivoted to international sales. I spent a couple of years working
					for Italian luxury furniture brands. <br />
					However, it wasn't my dream job. While it taught me a lot about resilience,
					problem-solving, and client relations, I craved something more creative
					and challenging. After taking a break to recharge, I stumbled upon coding
					— and I was hooked. With a knack for math and experience improving software
					during my PhD, coding felt like the perfect fit. It started as a curiosity
					but quickly turned into something I couldn't put down. Through online courses
					and countless late-night problem-solving sessions, I taught myself frontend
					development and gained hands-on experience. <br />
					Today, I'm proud to have developed and maintained two large-scale React
					applications that thousands of people use. I'm always looking for ways
					to improve them as I learn new things. I genuinely love what I do — it's
					challenging, but that's what makes it exciting! <br />
					When I'm not coding, I'm busy raising a curious and kind little human,
					experimenting in the kitchen, getting lost in a good book, or exploring
					human behavior to understand the “why” behind it all. <br />
				</p>
			</section>
			<section id="projects">
				<h1>Projects</h1>
				<p>
					Here are some of the projects I've worked on. You can find more on my
					<a>GitHub</a> page.
				</p>
				<div class="gallery">
					{
						projects.map((project) => {
							return (
								<Card
									href={project.href}
									src={project.src}
									title={project.title}
									body={project.body}
									features={project.features}
								/>
							);
						})
					}
				</div>
			</section>
			<section id="contacts">
				<h1>Contacts</h1>
				<p>
					If you're curious about my work or want to collaborate, feel free to
					reach out — I'd love to connect! You can find me on

					<Social platform="Github" username="obashanova" />
					<Social platform="Linkedin" username="in/oxana-bashanova" />

					or via <a
						href="mailto: obashanova.dev@gmail.com"
						target="_blank"
						rel="noopener noreferrer"
						class="social-link"
					>
						Email</a
					>.
				</p>
			</section>
		</div>
	</div>

	<style>
		.main-container {
			position: absolute;
			top: var(--top-offset);
			width: 100%;
			height: calc(100% - var(--top-offset));
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: 768px) {
				flex-direction: column;
			}
		}
		.photo-container {
			width: 30%;
			display: flex;
			justify-content: center;
			align-items: center;
			@media screen and (max-width: 768px) {
				width: 100%;
				order: 1;
			}
		}
		.text-container {
			position: relative;
			width: 70%;
			height: 100%;
			display: flex;
			flex-direction: column;
			overflow-y: scroll;
			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}

		section {
			position: relative;
			padding: 2rem 3rem;
		}

		#intro,
		#contacts {
			display: flex;
			flex-direction: column;
			min-height: calc(100% - 4rem);
		}

		#intro {
			justify-content: center;
		}

		.intro-p {
			@media screen and (max-width: 768px) {
				width: 100%;
				order: 2;
			}
		}

		.photo {
			width: 50%;
			min-width: 200px;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			overflow: clip;
			background-image: url("../assets/images/photo.JPG");
			background-size: cover;
			background-position: center;
		}
		#about {
			font-size: 1.3rem;
			font-weight: lighter;
			line-height: 2rem;
			@media screen and (max-width: 1024px) {
				font-size: 1.2rem;
				line-height: 1.8rem;
			}
		}

		.gallery {
			display: flex;
			align-items: center;
		}
	</style>
</Layout>
